body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: Poppins, sans-serif;
}

.register-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

.register-form {
    margin-top: 20px;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #476029;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

.register-button {
    background-color: #476029;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.register-button:hover {
    background-color: #3b5023;
}
